<html>
    <head>
        <title>Analytics</title>
        <link rel="stylesheet" href="/public/css/common.css">
    </head>
    <body>

        <header>
            Lyzer :: Omnified Technologies
        </header>
        <div id="content">
            <canvas id="mainChart"></canvas>
        </div>
        
        <!-- include the react CDNs -->
        <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
        <!-- include the chartjs library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
        <!-- Lyzer main -->
        <script src="/public/js/index.js"></script>
    </body>
</html>
