
body{
    font-family: Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

header{
    font-size: 3vmax;
    letter-spacing: .3vw;
}

.chartContainer{
    width: 65vw;
    height: 45vw;
}
